<div class="referral_codes index">
  <%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %>
  
  <h2>Referral Codes</h2>

  <%= link_to("Add New Referral Code", new_referral_code_path, :class => 'action new') %>

  <table class="listing admin_table" summary="Referral Code list">
    <tr class="header">
      <th>#</th>
      <th>Code</th>
      <th>Desc</th>
      <th>User Count</th>
    </tr>
    <% @referral_codes.each do |referral_code| %>
    <tr>
      <td><%= referral_code.id %></td>
      <td><%= referral_code.code %></td>
      <td><%= referral_code.description %></td>
      <td><%= referral_code.users.count %></td>
      <td class="actions">
        <%= link_to("Show", referral_code_path(referral_code), :class => 'action -show') %>
        <%= link_to("Edit", edit_referral_code_path(referral_code), :class => 'action edit') %>
        <%= link_to("Delete", referral_code_path(referral_code), :method => :delete, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
