<%= link_to("<< Back to List", referral_codes_path, :class => 'back-link') %>

<div class="referral_codes new">
  <h2>Create Referral Code</h2>

  <%= form_for(@referral_code) do |f| %>

    <table summary="Referral Code form fields">
      <tr>
        <th>Code</th>
        <td><%= f.text_field(:code) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area(:description) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Referral Code") %>
    </div>

  <% end %>
</div>
