<section class="feature_9 bg_white padding_top110 padding_bottom80">
	<div class="container nopadding">
    <div class="items index">
      <h2 class="font42 font_second light dark_gray bottom20">Administrative Control Panel</h2>
      <h3>Operations</h3>
      <%= link_to("Fulfillment Assistant", fulfillment_index_path(:column => "status", :direction => "asc"), :class => 'action index') %></br>
      </br>
      <%= link_to("Item Manager", items_path, :class => 'action index') %></br>
      <%= link_to("Inventory Manager", units_path, :class => 'action index') %></br>
      <%= link_to("Reservation Manager", reservations_path, :class => 'action index') %></br>
      <%= link_to("User Manager", users_path, :class => 'action index') %></br>
      
      <h3>Marketing</h3>
      <%= link_to("Referral Code Manager", referral_codes_path, :class => 'action index') %></br>
      <%= link_to("Advertisement Code Manager", advertisement_codes_path, :class => 'action index') %></br>
      
    </div>
  </div>
</section>