<header class="header_11">
  <%= render("shared/nav") %>

  <div style="padding-bottom: 148px;" class="container nopadding">
    <div class="max_width470 inner">
      <h1 class="ubuntu font62 dark_gray top150">Welcome<br /> to a closet without boundaries</h1>
      <div class="font22 light dark_blue top50 text">
        This is The Rotation. A members-only club where the only thing holding back your wardrobe is yourself. Everything you could want, right at your fingertips.
      </div>
      <div class="max_width570 left_block">
        <%= form_tag(sign_up_path, id: "landing-form", remote: true, class: "width470 text_center top80 header_3_form") do %>
          <%= email_field_tag("email", nil, id: "email", class: "width_full radius6", placeholder: "Email Address", required: "required") =%>
          <%= password_field_tag("password", nil, class: "width_full radius6 top30", placeholder: "Password", required: "required") =%>
          <%= button_tag(type: "submit", class: "btn width_full size60 blue radius6 top30") do %>
            Create an Account
          <% end %>
					<div class="top30 medium_gray text">By signing up, you agree to the <a href="#">Terms of Service</a></div>
        <% end %>
      </div>
    </div>
    <img srcset="<%= asset_path 'rotation-app@1x.png' %> 1x, <%= asset_path 'rotation-app@2x.png' %> 2x" src="<%= asset_path 'rotation-app@1x.png' %>" class="left470 bg" alt="" />
  </div>
</header>

<!-- Feature 1 -->

<section class="feature_1 padding_top80 padding_bottom50">
  <div class="container nopadding max_width970">
    <h2 class="font42 ubuntu light dark_gray text_center">How It Works</h2>
    <div class="top70 inner">
      <div class="col-sm-4 text_center bottom50 block">
        <i class="fa fa-shopping-bag font60 light_gray"></i>
        <div class="top20 font28 light dark_gray title">2 New Items
          <br />Every 2 Weeks</div>
        <div class="top30 font18 light dark_blue text">
          Choose from the latest in streetwear style from 100+ top brands.
        </div>
      </div>
      <div class="col-sm-4 text_center bottom50 block">
        <i class="fa fa-box-open font60 light_gray"></i>
        <div class="top20 font28 light dark_gray title">Delivered Straight to
          <br />Your Door</div>
        <div class="top30 font18 light dark_blue text">
          Add a piece into your "rotation" and we'll notify you as soon as its at your door.
        </div>
      </div>
      <div class="col-sm-4 text_center bottom50 block">
        <i class="fa fa-recycle font60 light_gray"></i>
        <div class="top20 font28 light dark_gray title">Free Shipping
          <br />& Dry Cleaning</div>
        <div class="top30 font18 light dark_blue text">
          Send your pieces back dirty using our prepaid label.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Content 35 -->
<hr width="50%">

<section class="content_35 padding_bottom50">
  <div class="container nopadding">
    <div class="text_center max_width970 margin_auto">
      <div class="top100 bottom100 text_center inner">
        <div class="font14 dark_blue semibold uppercase pretitle spacing17">OUR CATALOG</div>
        <h2 class="font42 black top30 light ubuntu">From Traditional Designers <br />to Modern Streetwear</h2>
      </div>
      <div class="inline_block bottom50 width190 text_left">
        <img srcset="<%= asset_path 'Acne_Studios_logo@0,5x.png' %> 1x, <%= asset_path 'Acne_Studios_logo.png' %> 2x" src="<%= asset_path 'Acne_Studios_logo@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_center">
        <img srcset="<%= asset_path 'apc@0,5x.png' %> 1x, <%= asset_path 'apc.png' %> 2x" src="<%= asset_path 'apc@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_center">
        <img srcset="<%= asset_path 'bape@0,5x.png' %> 1x, <%= asset_path 'bape.png' %> 2x" src="<%= asset_path 'bape@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_center">
        <img srcset="<%= asset_path 'fearofgod_logo@0,5x.png' %> 1x, <%= asset_path 'fearofgod_logo.png' %> 2x" src="<%= asset_path 'fearofgod_logo@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_right">
        <img srcset="<%= asset_path 'offwhite@0,5x.png' %> 1x, <%= asset_path 'offwhite.png' %> 2x" src="<%= asset_path 'offwhite@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_left">
        <img srcset="<%= asset_path 'palace@0,5x.png' %> 1x, <%= asset_path 'palace.png' %> 2x" src="<%= asset_path 'palace@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_center">
        <img srcset="<%= asset_path 'raf@0,5x.png' %> 1x, <%= asset_path 'raf.png' %> 2x" src="<%= asset_path 'raf@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_center">
        <img srcset="<%= asset_path 'stone-island@0,5x.png' %> 1x, <%= asset_path 'stone-island.png' %> 2x" src="<%= asset_path 'stone-island@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_center">
        <img srcset="<%= asset_path 'supreme@0,5x.png' %> 1x, <%= asset_path 'supreme.png' %> 2x" src="<%= asset_path 'supreme@0,5x.png' %>" class="max_width_full" alt="" />
      </div>
      <div class="inline_block margin_auto bottom50 width190 text_right">
        <img srcset="<%= asset_path 'Yeezy-Logo@1x.png' %> 1x, <%= asset_path 'Yeezy-Logo@2x.png' %> 2x" src="<%= asset_path 'Yeezy-Logo@1x.png' %>" class="max_width_full" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- Pricing Table 7 -->
<hr width="50%">

<section class="pricing_table_7 padding_top70 padding_bottom110">
  <div class="container nopadding dark_blue text_center">
    <h2 class="font42 ubuntu light dark_gray">How much for no limits?</h2>
    <div class="max_width570 margin_auto top15 font18 light">
      Become a member of The Rotation for a low monthly fee.
    </div>
    <div class="max_width570 margin_auto top55 padding_sides100 padding_top55 padding_bottom70 radius10 inner">
      <div class="ubuntu light font28 dark_gray title">Founding Member</div>
      <div class="top25 font14 uppercase semibold spacing20">100 SPOTS</div>
      <div class="top30 light font16 text">
        Be the first to sign up for The Rotation and recieve a special price. New York City residents only.
      </div>
      <a id="price-btn" href="#" class="top45 min_width170 btn size60 transparent_blue border border_blue radius6 font16">Try for $49/mo</a>
    </div>
  </div>
</section>