<style>
* {
  box-sizing: content-box;
}
</style>

<div class="NewLandingPage">
  <header class="background flex">
    <div class="welcome_elements">
      <div class="welcome_to_a_closet padding_bottom25">
        Welcome to a closet without boundaries.
      </div>
      <div class="welcome_description padding_bottom25">
        This is The Rotation. A members-only club that gives you access to an extensive designer wardrobe, for a fraction of the price. Everything you could want, right at your fingertips.
      </div>
      <div class="sign_up_box flex align_center justify_center">
        <%= link_to(new_user_registration_path) do %>
          <div class="sign_up">
            SIGN UP
          </div>
        <% end %>
      </div>
    </div>
  </header>
  
  <section class="how_it_works padding_bottom100 flex justify_evenly">
    <div class="step_box">
      <div class="large_number inline_block top10 padding_sides40">1.</div>
      <div class="step_title inline_block">
        Select your pieces
      </div>
      <div class="step_description top30 margin_auto">
        Browse our curated catalog from the world’s most coveted designers. New items are added every two weeks, ensuring you always have access to the freshest closet.
      </div>
    </div>
    <div class="step_box">
      <div class="large_number inline_block top10 padding_sides40">2.</div>
      <div class="step_title inline_block">
        Rotate without limits
      </div>
      <div class="step_description top30 margin_auto">
        Whether it's a special occasion or your next daily wear, The Rotation holds no limits above your head. Wear, purchase, or exchange amongst our catalog as much as you like.
      </div>
    </div>
    <div class="step_box">
      <div class="large_number inline_block top10 padding_sides40">3.</div>
      <div class="step_title_wide inline_block">
        We'll take care of the rest
      </div>
      <div class="step_description top30 margin_auto">
        When you're ready for something new, send your pieces back dirty using the provided pre-paid shipping label.
      </div>
    </div>
  </section>
  
  <section class="padding_bottom90">
    <h2 class="padding_left50 padding_bottom35 section_header">What's In Store</h2>
    <div class="scrolling-wrapper">
      <div class="padding_left30"></div>
      <% @items.each_with_index do |item, index| %>
        <div key="<%= index %>" class="card max_width150 padding_sides20">
          <div class="item_card flex align_center justify_center">
            <img class="item_image" src="<%= item.image.url %>" alt="" />
          </div>
          <div class="brand padding_top10"><%= item.title %></div>
          <div class="description padding_top5"><%= item.subtitle %></div>
        </div>
      <% end %> 
      <div class="padding_right30"></div>
    </div>
  </section>
  
  <section class="padding_bottom100 padding_top70 text_center">
    <div class="plan_pricing padding_bottom15">PLAN + PRICING</div>
    <div class="subscribe_to_the_closet padding_bottom15 margin_auto">Subscribe to the closet of your future</div>
    <div class="padding_bottom30 flex justify_center">
      <div class="pricing_rectangle flex align_center justify_center">
        <div>
          <div class="subscribe_to_the_closet">2</div>
          <div class="pricing_box_description">PIECES AT A TIME</div>
        </div>
      </div>
      <div class="pricing_rectangle flex align_center justify_center dark_bg">
        <div>
          <div class="subscribe_to_the_closet white_text">$89</div>
          <div class="pricing_box_description white_text">PER MONTH</div>
        </div>
      </div>
    </div>
    <div class="padding_bottom20">
      <div class="padding_bottom10 height50 flex justify_center pricing_row">
        <div class="height40 padding_right20 flex align_center justify_center pricing_col">
          <div class="icon_wrapper padding_right10"><i class="fa fa-check-square checkbox_icon justify_center"></i></div>
          <div class="checkbox_description">Founding member discount for first 100 members.</div>
        </div>
        <div class="height40 flex align_center justify_center pricing_col">
          <div class="icon_wrapper padding_right10"><i class="fa fa-check-square checkbox_icon justify_center"></i></div>
          <div class="checkbox_description">We handle the dry-cleaning.</div>
        </div>
      </div>
      <div class="padding_bottom10 height50 flex justify_center pricing_row">
        <div class="height40 padding_right20 flex align_center justify_center pricing_col">
          <div class="icon_wrapper padding_right10"><i class="fa fa-check-square checkbox_icon justify_center"></i></div>
          <div class="checkbox_description">Keep pieces for as long as you want, swap anytime.</div>
        </div>
        
        <div class="height40 flex align_center justify_center pricing_col">
          <div class="icon_wrapper padding_right10"><i class="fa fa-check-square checkbox_icon justify_center"></i></div>
          <div class="checkbox_description">New drops every 2 weeks.</div>
        </div>
      </div>
      <div class="padding_bottom10 height50 flex justify_center pricing_row">
        <div class="height40 padding_right20 flex align_center justify_center pricing_col">
          <div class="icon_wrapper padding_right10"><i class="fa fa-check-square checkbox_icon justify_center"></i></div>
          <div class="checkbox_description">Choose pieces from the world’s top men’s designer brands.</div>
        </div>
        <div class="height40 flex align_center justify_center pricing_col">
          <div class="icon_wrapper padding_right10"><i class="fa fa-check-square checkbox_icon justify_center"></i></div>
          <div class="checkbox_description">2-day shipping guaranteed.</div>
        </div>
      </div>
    </div>
    <div class="join_waitlist_btn margin_auto flex align_center justify_center">
      <%= link_to(new_user_registration_path) do %>
        <div class="join_waitlist">JOIN WAITLIST</div>
      <% end %>
    </div>
  </section>
</div>