<!-- Header 8 -->
<header class="header_8 padding_bottom155">
  <div class="container nopadding top45">
    <!-- <img srcset="i/header_8_logo.png 1x, i/header_8_logo_2x.png 2x" src="i/header_8_logo.png" class="margin_auto logo" alt="" /> -->
    <% if (@is_ios && current_user.waitlist?) %>
      <div class="text-center top165 block_with_button">
        <%= link_to(download_path, class:"width300 max_width_full btn white padding_sides25 size60 radius6") do %>
          <span class="black"><i class="fab fa-apple right10"></i> Download on the App Store</span>
        <% end %>
      </div>
    <% end %>
    <% if current_user.waitlist? %>
      <div class="text-center ubuntu white font20 top15">the rotation</div>
      <h1 class="text-center white font_second light font92 top45">You're on the waitlist.</h1>
      <div class="top65">
        <div>
          <div class="max_width570 margin_auto white text-center light font22 text">
            We'll email you once its your time to join The Rotation.
          </div>
        </div>
      </div>
    <% elsif current_user.standard? || current_user.admin? %>
      <h1 class="text-center white font_second light font50">Welcome to the Rotation!</h1>
        <div class="max_width570 margin_auto white text-center light font22 text top30">
            <%= @current_subscription ? "Your Current Plan:" : "Purchase your membership below." %>
        </div>
        <div class="container nopadding dark_blue text_center">
          <div class="max_width570 margin_auto top55 padding_sides100 padding_top55 padding_bottom70 radius10 inner pricing_table_7">
            <div class="ubuntu light font28 dark_gray title">Founding Member</div>
            <div style="margin:30px;">Price: $<%= (@plan.amount / 100) %>/mo</div>
            <% if @current_subscription %>
              <% case @current_subscription.status.to_sym 
                 when :active %>
                <div style="margin:30px;">Next Billing: <%= @current_subscription.current_period_end.strftime("%b %d, %Y") %></div>
                <%= link_to("Cancel Subscription", cancel_subscriptions_path, class: "min_width170 btn size60 transparent_blue border border_blue radius6 font16") %>
              <% when :canceled %>
                <div style="margin:30px;">Your subscription ends on <%= @current_subscription.current_period_end.strftime("%b %d, %Y") %> and is not set to renew.</div>
                <%= link_to("Restore Subscription", restore_subscriptions_path, class: "min_width170 btn size60 transparent_blue border border_blue radius6 font16") %>
              <% when :incomplete %>
                <% if @current_subscription.payment_action_required? %>
                  <script src="https://js.stripe.com/v3/"></script>
                  <div style="margin:30px;">Your Bank requires a bit more verification, please complete final step below:</div>
                  <a href="#" onclick='Stripe("pk_test_Nfvb3ZjRZMUfa9HxzXsz0PnZ").confirmCardPayment("<%= @current_subscription.incomplete_payment_intent_client_secret %>").then(function(result) { document.location.reload(true) });' class="min_width170 btn size60 transparent_blue border border_blue radius6 font16">Finalize Payment</a>
                <% else %>
                  <div style="margin:30px;">Verification failed, please enter new payment info:</div>
                <% end %> 
              <% end %>
            <% end %>
            <div style="padding: 10px 0px;"></div>
            <%= form_tag (@current_subscription ? update_payment_subscriptions_path : subscriptions_path) do %>
              <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                <% if @current_subscription %>
                data-label="Update Payment Method"
                data-panel-label="Update"
                <% else %>
                data-amount="<%= @plan.amount %>"
                <% end %>
                data-email="<%= current_user.email %>"
                data-locale="auto">
              </script>
            <% end %>
          </div>
        </div>
    <% end %>
    <% unless (@is_ios && current_user.waitlist?) %>
      <div class="text-center top165 block_with_button">
        <%= link_to(download_path, class:"width300 max_width_full btn white padding_sides25 size60 radius6") do %>
          <span class="black"><i class="fab fa-apple right10"></i> Download on the App Store</span>
        <% end %>
      </div>
    <% end %>
  </div>
</header>
