<%= link_to("<< Back to List", advertisement_codes_path, :class => 'back-link') %>

<div class="advertisement_codes edit">
  <h2>Update Advertisement Code</h2>

  <%= form_for(@advertisement_code) do |f| %>

    <table summary="Advertisement Code form fields">
      <tr>
        <th>Code</th>
        <td><%= f.text_field(:code) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area(:description) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Advertisement Code") %>
    </div>

  <% end %>
</div>