<div class="advertisement_codes index">
  <%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %>
  
  <h2>Advertisement Codes</h2>

  <%= link_to("Add New Advertisement Code", new_advertisement_code_path, :class => 'action new') %>

  <table class="listing admin_table" summary="Advertisement Code list">
    <tr class="header">
      <th>#</th>
      <th>Code</th>
      <th>Desc</th>
      <th>Sessions</th>
      <th>Users</th>
      <th>Active Subscriptions</th>
    </tr>
    <% @advertisement_codes.each do |advertisement_code| %>
    <tr>
      <td><%= advertisement_code.id %></td>
      <td><%= advertisement_code.code %></td>
      <td><%= advertisement_code.description %></td>
      <td><%= advertisement_code.session_count %></td>
      <td><%= advertisement_code.users.count %></td>
      <td><%= advertisement_code.users.paying_customers.count %></td>
      <td class="actions">
        <%= link_to("Show", advertisement_code_path(advertisement_code), :class => 'action -show') %>
        <%= link_to("Edit", edit_advertisement_code_path(advertisement_code), :class => 'action edit') %>
        <%= link_to("Delete", advertisement_code_path(advertisement_code), :method => :delete, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
