<div class="users index">
  <%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %>

  <h2>Users</h2>

  <table class="listing admin_table" summary="User list">
    <tr class="header">
      <th>#</th>
      <th>Email</th>
      <th>Date Joined</th>
      <th>Access</th>
      <th>Subscription Status</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td style"<%= 'text-color: red' unless user.confirmed? %>"><%= user.email %></td>
      <td><%= user.created_at %></td>
      <td><%= user.access_level %></td>
      <td><%= user.current_subscription.nil? ? (user.subscriptions.empty? ? "none" : "churned") : "#{user.current_subscription.status}" %></td>
      <td><%= user.profile.full_name %></td>
      <td class="actions">
        <%= link_to("Release From Waitlist", release_user_path(user), :class => 'action') if user.waitlist? %>
        <%= link_to("View Profile", user_profile_path(user), :class => 'action') %>
        <%= link_to("Sign In as User", become_user_path(user), :class => 'action') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
