<div class="NewNav flex align_center">
  <nav class="flex justify_around align_center">
    <%= link_to(root_path, :class => "flex align_center") do %>
      <%= image_tag("The-Rotation.png", srcset: "#{asset_path("The-Rotation@2x.png")} 2x, #{asset_path("The-Rotation.png")} 1x", class: "max_width_full") %>
    <% end %>
    <div class="nav_right_elems flex align_center">
      <% if user_signed_in? %>
        <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "nav_elem padding_right40") %>
        <%= link_to("Account", status_path, class: "nav_elem padding_right40") unless current_user.waitlist? %>
        <%= link_to("Invite", prelauncher_path, class: "nav_elem padding_right20") %>
      <% else %>
        <%= link_to("Log in", new_user_session_path, class: "nav_elem padding_right40") %>
        <%= link_to("Sign up", new_user_registration_path, class: "nav_elem padding_right20") %>
      <% end %>
      <div class="padding_left20">
        <div class="download_app_btn flex align_center justify_center">
          <div class="nav_elem">
            <%= link_to("Download App", download_path) %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>