<%= link_to("<< Back to List", self.send("#{@resource_name.pluralize}_path"), :class => 'back-link') %>

<div class="#{@resource_name.pluralize} new">
  <h2>Create Code</h2>
  
  <%= form_for(@code) do |f| %>
    
    <table summary="Code form fields">
      <tr>
        <th>Code</th>
        <td><%= f.text_field(:id) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area(:description) %></td>
      </tr>
      <tr>
        <th>Active?</th>
        <td><%= f.check_box(:active) %></td>
      </tr>
    </table>

    <div class="form-buttons">
      <%= f.submit("Create Code") %>
    </div>

  <% end %>
</div>
