<%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %>
<%= link_to("<< Back to Item", item_path(@item), :class => 'back-link') unless @item.nil? %>

<div class="reservations index">
  <h2>Reservations <% unless @item.nil? %> for Item #<%= @item.id %>, <%= @item.title %><% end %></h2>

  <%= link_to("Add New Reservation", new_item_reservation_path(@item), :class => 'action new') unless @item.nil? %>
  
  <table class="listing admin_table" summary="Resevation list">
    <tr class="header">
      <th>#</th>
      <th>Status</th>
      <th>User</th>
      <th>Email</th>
      <th>Address</th>
      <th>Item</th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr>
      <td><%= reservation.id %></td>
      <td><%= reservation.status %></td>
      <td><%= reservation.user.profile.full_name.empty? ? reservation.user_id : reservation.user.profile.full_name %></td>
      <td><%= mail_to(reservation.user.email) %></td>
      <td><%= reservation.user.profile.full_address %></td>
      <td><%= link_to("#{reservation.item.title or ''} #{reservation.item.subtitle or ''}", item_path(reservation.item)) %></td>
      <td class="actions">
        <%= link_to("Show", reservation_path(reservation), :class => 'action -show') %>
        <%= link_to("Edit", edit_reservation_path(reservation), :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
