<%= link_to("<< All Reservations", reservations_path, :class => 'back-link') %></br>
<%= link_to("<< All Reservations for Item", item_reservations_path(@reservation.item_id), :class => 'back-link') %></br>
<%= link_to("<< All Reservations for User", user_reservations_path(@reservation.user_id), :class => 'back-link') %>

<div class="reservations show">
  <h2>Show Reservation</h2>

  <table summary="Reservation detail view">
      <tr>
        <th>User ID</th>
        <td><%= @reservation.user.id %></td>
      </tr>
      <tr>
        <th>User Email</th>
        <td><%= @reservation.user.email %></td>
      </tr>
      <tr>
        <th>Size</th>
        <td><%= @reservation.size %></td>
      </tr>
      <tr>
        <th>Start Date</th>
        <td><%= @reservation.start_date %></td>
      </tr>
      <tr>
        <th>End Date</th>
        <td><%= @reservation.end_date %></td>
      </tr>
      <tr>
        <th>Duration (days)</th>
        <td><%= @reservation.days %></td>
      </tr>
      <tr>
        <th>Status</th>
        <td><%= @reservation.status %></td>
      </tr>
      <tr>
        <th>Assigned Inventory</th>
        <td><%= link_to("#{@reservation.unit.id}: #{@reservation.unit.size} - #{@reservation.unit.item.title or ''} #{@reservation.unit.item.subtitle or ''}", unit_path(@reservation.unit)) unless @reservation.unit.nil? %></td>
      </tr>
    </table>

</div>