A new reservation has been created.

<ul>Item</ul>
ID: <%= @item.id %>
Brand: <%= @item.title %>
Name: <%= @item.subtitle %>
<% if @item.company_owned?  %>
Item is company owned.
<% else %>
<a href='<%= @item.buyURL %>'>Purchase Item</a>
<% end %>
 
<ul>User</ul>
ID: <%= @user.id %>
Email: <%= @user.email %>
Address Line 1: <%= @profile.address_line_one %>
Address Line 2: <%= @profile.address_line_two %>
Address City: <%= @profile.address_city %>
Address State: <%= @profile.address_state %>
Address Zip: <%= @profile.address_zip %>