<%= link_to("<< Back to List", items_path, :class => 'back-link') %>

<div class="items edit">
  <h2>Update Item</h2>

  <%= form_for(@item) do |f| %>

    <table summary="Item form fields">
      <tr>
        <th>Title</th>
        <td><%= f.text_field(:title) %></td>
      </tr>
      <tr>
        <th>Subtitle</th>
        <td><%= f.text_field(:subtitle) %></td>
      </tr>
       <tr>
        <th>Retail Value</th>
        <td><%= f.text_field(:retail_value) %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= f.text_area(:description) %></td>
      </tr>
      
      <tr>
        <th>Color</th>
        <td><%= f.collection_select(:color, @color_options, :to_s, :to_s, include_blank: true) %></td>
      </tr>
      <tr>
        <th>Supplier Color</th>
        <td><%= f.text_field(:supplier_color) %></td>
      </tr>
      
      <tr>
        <th>Category</th>
        <td><%= f.collection_select(:category, @category_options, :to_s, :to_s, include_blank: true) %></td>
      </tr>
      <tr>
        <th>Sub Category</th>
        <td><%= f.collection_select(:sub_category, @sub_category_options, :to_s, :to_s, include_blank: true) %></td>
      </tr>
      <tr>
        <th>Meta Category</th>
        <td><%= f.text_field(:meta_category) %></td>
      </tr>
      
      <tr>
        <th>Max Virtual Quanity</th>
        <td><%= f.text_field(:virtual_qty) %></td>
      </tr>
      <tr>
        <th>Hidden?</th>
        <td><%= f.check_box(:hidden) %></td>
      </tr>
      <tr>
        <th>Featured?</th>
        <td><%= f.check_box(:landing_featured) %></td>
      </tr>
      <tr>
        <th>Special?</th>
        <td><%= f.check_box(:special) %></td>
      </tr>
      <tr>
        <th>Purchase URL</th>
        <td><%= link_to(@item.buyURL, "http://www.#{@item.buyURL}", :class => 'action purchase') if @item.buyURL %></td>
      </tr>
      <tr>
        <th>Current Image</th>
        <td><%= link_to(image_tag(@item.image.url(:small)), @item.image.url, target: '_blank') if @item.image.exists? %></td>
      </tr>
      <tr>
        <th>Image Upload</th>
        <td><%= f.file_field :image %> </td>
      </tr>
      <% unless @item.alternate_image_urls.empty? %>
        <tr>
          <th>Alternate Images</th>
          <td>
          <% @item.alternate_image_urls.each do |url| %>
            <%= f.label(:image_remote_url, image_tag(url), :value => url)  %>
            <%= f.radio_button(:image_remote_url, url) %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </table>

    <div class="form-buttons">
      <%= f.submit("Update Item") %>
    </div>

  <% end %>
</div>