<div class="items index">
  <%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %>
  
  <h2>Items</h2>
  <p>All rental stat calculations are in days and do not include cancelled reservations.</p>

  <%= link_to("Add New Item", new_item_path, :class => 'action new') %>

  <table class="listing admin_table" summary="Item list">
    <tr class="header">
      <th><%= sort_link "id", "#" %></th>
      <th><%= sort_link "title" %></th>
      <th><%= sort_link "subtitle" %></th>
      <th><%= sort_link "virtual_qty", "Max V-Qty" %></th>
      <th>Owned Inventory</th>
      <th><%= sort_link "hidden", "Visible?" %></th>
      <th><%= sort_link "special", "Special?" %></th>
      <th><%= sort_link "landing_featured", "Featured?" %></th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.subtitle %></td>
      <td><%= item.virtual_qty %></td>
      <td>
        <% Unit.sizes.keys.each do |size| %>
          <% num = @owned_inventory_counts[[item.id, size]] %>
          <% unless num.nil? %>
            <%= "#{size}: #{num}; " %>
          <% end %>
        <% end %>
      </td>
      <td><%= item.hidden ? '✗' : '✓' %></td>
      <td><%= item.special ? '✓' : '✗' %></td>
      <td><%= item.landing_featured ? '✓' : '✗'  %></td>
      <td class="actions">
        <%= link_to("Show", item_path(item), :class => 'action -show') %>
        <%= link_to("Edit", edit_item_path(item), :class => 'action edit') %>
        <%= link_to("Reservations", item_reservations_path(item), :class => 'action index') %>
        <%= link_to("Purchase", "http://www.#{item.buyURL}", :class => 'action purchase') if item.buyURL %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
