<div class="items index">
  <%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %>
  
  <h2>Items</h2>

  <%= link_to("Add New Item", new_item_path, :class => 'action new') %>

  <table class="listing admin_table" summary="Item list">
    <tr class="header">
      <th>#</th>
      <th>Title</th>
      <th>Subtitle</th>
      <th>Retail Value</th>
      <th>Desc</th>
      <th>Color</th>
      <th>Virtual Quantity</th>
      <th>Visible?</th>
      <th>Last Seen</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.title %></td>
      <td><%= item.subtitle %></td>
      <td><%= item.retail_value %></td>
      <td><%= item.description %></td>
      <td><%= item.color %></td>
      <td><%= item.virtual_qty %></td>
      <% if item.hidden %>
        <td>&#10007;</td>
        <td><%= item.last_seen %></td>
      <% else %>
        <td>&#10003;</td>
        <td></td>
      <% end %>
      <td class="actions">
        <%= link_to("Show", item_path(item), :class => 'action -show') %>
        <%= link_to("Edit", edit_item_path(item), :class => 'action edit') %>
        <%= link_to("Delete", item_path(item), :method => :delete, :class => 'action delete') %>
        <%= link_to("Reservations", item_reservations_path(item), :class => 'action index') %>
        <%= link_to("Purchase", "http://www.#{item.buyURL}", :class => 'action purchase') if item.buyURL %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
