<%= link_to("<< Back to List", items_path, :class => 'back-link') %>

<div class="items show">
  <h2>Show Item</h2>

  <table summary="Item detail view">
    <tr>
      <th>Title</th>
      <td><%= @item.title %></td>
    </tr>
    <tr>
      <th>Subtitle</th>
      <td><%= @item.subtitle %></td>
    </tr>
    <tr>
      <th>Retail Value</th>
      <td><%= @item.retail_value %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @item.description %></td>
    </tr>
    <tr>
      <th>Color (Hex Format; ex. "#FFFFFF")</th>
      <td><%= @item.color %></td>
    </tr>
    <tr>
      <th>Max Virtual Quanity</th>
      <td><%= @item.virtual_qty %></td>
    </tr>
    <tr>
      <th>Visible?</th>
      <% if @item.hidden %>
        <td>&#10007;</td>
      <% else %>
        <td>&#10003;</td>
      <% end %>
    </tr>
    <tr>
      <th>Featured?</th>
      <% if @item.landing_featured %>
        <td>&#10003;</td>
      <% else %>
        <td>&#10007;</td>
      <% end %>
    </tr>
      <th>Special?</th>
      <% if @item.special %>
        <td>&#10003;</td>
      <% else %>
        <td>&#10007;</td>
      <% end %>
    </tr>
    <tr>
      <th>Last Seen</th>
      <% if @item.hidden %>
        <td><%= @item.last_seen %></td>
      <% else %>
        <td></td>
      <% end %>
    </tr>
    <tr>
      <th>Image</th>
      <td><%= link_to(image_tag(@item.image.url(:small)), @item.image.url, target: '_blank') if @item.image.exists? %></td>
    </tr>
  </table>

<%= link_to("Reservations", item_reservations_path(@item), :class => 'action index') %></br>
<%= link_to("Units", item_units_path(@item), :class => 'action index') %>

</div>
