<%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %></br>
<%= link_to("<< Back to Item", item_path(@item), :class => 'back-link') unless @item.nil? %>

<div class="units index">
  <h2>Inventory <% unless @item.nil? %> for Item #<%= @item.id %>, <%= @item.title %><% end %></h2>

  <% if @item.nil? %>
  <p>
    Total Cost: <%= number_to_currency(@total_cost) %></br>
    Average Cost: <%= number_to_currency(@avg_cost) %>
  </p>
  <% end %>
  
  <%= link_to("Add New Unit", new_item_unit_path(@item), :class => 'action new') unless @item.nil? %>
  
  <table class="listing admin_table" summary="Unit list">
    <tr class="header">
      <th><%= sort_link "items.title", "Item" %></th>
      <th><%= sort_link "size" %></th>
      <th><%= sort_link "status" %></th>
      <th><%= sort_link "supplier" %></th>
      <th><%= sort_link "supplier_order_id", "Order No." %></th>
      <th><%= sort_link "order_date", "Date Ordered" %></th>
      <th><%= sort_link "retire_date", "Date Retired" %></th>
      <th><%= sort_link "cost" %></th>
      <th><%= sort_link "notes" %></th>
    </tr>
    <% @units.each do |unit| %>
    <tr>
      <td><%= link_to("#{unit.item.title or ''} #{unit.item.subtitle or ''}", item_path(unit.item)) %></td>
      <td><%= unit.size %></td>
      <td><%= unit.status %></td>
      <td><%= unit.supplier %></td>
      <td><%= unit.supplier_order_id %></td>
      <td><%= unit.order_date.try(:strftime, "%Y-%m-%d") %></td>
      <td><%= unit.retire_date.try(:strftime, "%Y-%m-%d") %></td>
      <td><%= unit.cost %></td>
      <td class="slim-text">
        <%= unit.notes %>
      </td>
      <td class="actions">
        <%= link_to("Edit", edit_unit_path(unit), :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
