<%= link_to("Back to Admin Home", admin_path, :class => 'back-link') %></br>

<script>
$(document).ready(function(){
	$('form.throwaway-ajax').on('ajax:success',function (e) {
	    window.location.reload(true)
	}).on('ajax:error',function (e) {
	    window.location.reload(true)
	});
});
</script>

<div class="fulfillment index">
  <h2>Fulfillment Assistant</h2>
  
  <table class="listing admin_table" summary="Outbound Fulfillment list">
    <tr class="header">
      <th style="min-width: 200px;">Detailed Status</th>
      <th class="black-border-right">Action Required</th>
      <th><%= sort_link "id", "#" %></th>
      <th><%= sort_link "size", "Res. Size" %></th>
      <th><%= sort_link "status" %></th>
      <th><%= sort_link "created_at", "Created" %></th>
      <th>User</th>
      <th><%= sort_link "users.email", "Email" %></th>
      <th><%= sort_link "items.title", "Item" %></th>
      <th>Ship To</th>
      <th><%= sort_link "unit_id", "Assigned Inventory" %></th>
      <th><%= sort_link "units.notes", "Inventory Notes" %></th>
    </tr>
    <% @reservations.each do |reservation| %>
    <tr style="<%= reservation.user.current_subscription.nil? ? 'background-color: #ffcccc' : (reservation.user.current_subscription..billing_status != 'paid' ? 'background-color: #ffe5c2' : (reservation.user.current_subscription.status == 'canceled' ? 'background-color: #99ccff' : '')) %>">
      <% if reservation.active? || reservation.returned? %>
        <td>
          (4) Customer
        </td>
        <td class="black-border-right">
          <% if reservation.unit.nil? || reservation.unit.offline? %>
            <%= form_with(model: reservation, html: {'class' => 'throwaway-ajax'}) do |f| %>
              <%= f.hidden_field :status, value: :ended %>
              <%= f.submit("Mark as Ended") %>
            <% end %>
          <% else %>
            <%= form_with(model: reservation.unit, html: {'class' => 'throwaway-ajax'}) do |f| %>
              <%= f.hidden_field :status, value: :offline %>
              <%= f.submit("Mark Offline for Cleaning") %>
            <% end %>
          <% end %>
        </td>
      <% elsif reservation.unit.nil? %>
        <!-- A unit needs to be assigned, set up workflow -->
        <% if reservation.size.nil? %>
          <td>
            <span style="color: red">(!) Set Reservation Size</span>
          </td>
          <td class="black-border-right">
            <%= form_with(model: reservation, html: {'class' => 'throwaway-ajax'}) do |f| %>
              <%= f.collection_select :size, Reservation.sizes.map{ |a| [a.first,a.first] },  :first, :second, prompt: true %>
              <%= f.submit("Save") %>
            <% end %>
          </td>
        <% else %>
          <% owned_inventory = reservation.units_available_for_fulfillment %>
          <% if owned_inventory.empty? %>
            <td>
              <span style="color: orange">(1) Pending Purchase</span>
            </td>
            <td class="black-border-right">
              <%= link_to("Add New Unit", new_item_unit_path(reservation.item), :class => 'action new', :style => 'padding: 1px 7px 2px 7px;') %>
            </td>
          <% else %>
            <td>
              <span style="color: red">(!) Assign Inventory</span>
            </td>
            <td class="black-border-right">
              <%= form_with(model: reservation, html: {'class' => 'throwaway-ajax'}) do |f| %>
                <%= f.collection_select :unit_id, owned_inventory.map{ |a| [a.id, "#{a.id}: #{a.size}"] },  :first, :second, prompt: true %>
                <%= f.hidden_field :status, value: :processing %>
                <%= f.submit("Save") %>
              <% end %>
            </td>
          <% end %>
        <% end %>
      <% else %>
        <% if reservation.unit.in_transit_from_supplier? %>
          <td>
            <span style="color: purple">(2) Pending Supplier</span>
          </td>
          <td class="black-border-right">
            <%= form_with(model: reservation.unit, html: {'class' => 'throwaway-ajax'}) do |f| %>
              <%= f.hidden_field :status, value: :available %>
              <%= f.submit("Mark Inventory as Arrived") %>
            <% end %>
          </td>
        <% else %>
          <td>
            <span style="color: blue">(3) Pending Shipment</span>
          </td>
          <td class="black-border-right">
            <%= form_with(model: reservation, html: {'class' => 'throwaway-ajax'}) do |f| %>
              <%= f.hidden_field :status, value: :active %>
              <%= f.submit("Mark as Active") %>
            <% end %>
          </td>
        <% end %>
      <% end %>
      <td><%= reservation.id %></td>
      <td><%= reservation.size unless reservation.size.nil? %></td>
      <td><%= reservation.status %></td>
      <td><%= reservation.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      <td><%= reservation.user.profile.full_name.empty? ? reservation.user_id : reservation.user.profile.full_name %></td>
      <td><%= mail_to(reservation.user.email) %></td>
      <td>
        <%= link_to("#{reservation.item.title or ''} #{reservation.item.subtitle or ''}", item_path(reservation.item)) %>
      </td>
      <td><%= reservation.user.profile.full_address %></td>
      <td>
        <%= link_to("#{reservation.unit.id}: #{reservation.unit.size}", unit_path(reservation.unit)) unless reservation.unit.nil? %>
      </td>
      <td>
        <%= link_to("#{reservation.unit.cost ? "[Cost: $"+reservation.unit.cost.to_s+"]" : ''} #{reservation.unit.notes or ''}", unit_path(reservation.unit)) unless reservation.unit.nil? %>
      </td>
      <td class="actions">
        <%= link_to("Show", reservation_path(reservation), :class => 'action -show') %>
        <%= link_to("Edit", edit_reservation_path(reservation), :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
  
  <h3>Offline Inventory</h3>
  <p>Units that are out being cleaned or repaired. Bring them back online once ready to be rented again.</p>
  <table class="listing admin_table" summary="Offline Units list">
    <tr class="header">
      <th class="black-border-right">Action Required</th>
      <th>#</th>
      <th>Item</th>
      <th>Size</th>
      <th>Notes</th>
    </tr>
    <% @offline_units.each do |unit| %>
    <tr>
      <td class="black-border-right">
        <%= form_with(model: unit, html: {'class' => 'throwaway-ajax'}) do |f| %>
          <%= f.hidden_field :status, value: :available %>
          <%= f.submit("Bring Inventory Back Online") %>
        <% end %>
      </td>
      <td><%= unit.id %></td>
      <td><%= link_to("#{unit.item.title or ''} #{unit.item.subtitle or ''}", item_path(unit.item)) %></td>
      <td><%= unit.size %></td>
      <td class="slim-text">
        <%= unit.notes %>
      </td>
      <td class="actions">
        <%= link_to("Edit", edit_unit_path(unit), :class => 'action edit') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
