<!DOCTYPE html>
<html>
  <head>
    <title>The Rotation</title>
    <% ["DrukTextWide-Medium.otf", "DrukWide-Medium.otf", "ProximaNova-Regular.otf", "ProximaNova-Semibold.otf"].each do |font| %>
      <link rel="preload" href="<%= font_url(font) %>" as="font" crossorigin/>
    <% end %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets %>
    <meta property="og:title" content="The Rotation | Men's Rent the Runway for Streetwear & Designer" />
    <meta property="og:image" content='<%= image_url "Rotation-Banner.jpg" %>' />
  </head>

  <body>
    <%= render("shared/alerts") %>

    <% if notice %>
      <p id="notice" style="display: none;"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p id="alert" style="display: none;"><%= alert %></p>
    <% end %>
    <%= yield :header %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= yield :footer %>
  </body>
</html>