<!DOCTYPE html>
<html>
  <head>
    <title>The Rotation</title>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets %>
  </head>

  <body>
    <%= yield :header %>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <%= yield :footer %>
  </body>
</html>
