<% content_for :stylesheets do %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Hind:300,400,500|Ubuntu:300,400,500', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://use.fontawesome.com/releases/v5.0.10/css/all.css', integrity: 'sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg', crossorigin: 'anonymous', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDP6Ex5S03nvKZJZSvGXsEAi3X_tFkua4U', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :header do %>
  <%= render("shared/hamburger") %>
  <div class="header_8_bg">
  <header class="header_11" style="background: none;">
    <nav class="navigation_13 padding_top30 padding_bottom30 top45">
      <div class="container nopadding text-center">
        <%= link_to("Home", root_path, class: "sides15 semibold uppercase spacing20 font14 line_height40 link white") %>
        <% if current_user.admin? %>
          <%= link_to("Admin", admin_path, class: "sides15 semibold uppercase spacing20 font14 line_height40 link white") %>
        <% end %>
        <%= link_to("Logout", destroy_user_session_path, method: :delete, class: "sides15 semibold uppercase spacing20 font14 line_height40 link white") %>
      </div>
    </nav>
    <div id="nav-container" style="padding-bottom: 148px;" class="container nopadding">
    </div>
	</header>
<% end %>

<% content_for :footer do %>
  </div>
  <%= render("shared/footer") %>

  <%= render("shared/alerts") %>

  <%= javascript_include_tag 'footer', 'data-turbolinks-track': 'reload' %>
<% end %>

  <%= render template: "layouts/application" %>